@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

HTML {
    font-size: 62.5%;
}

body {
    background-color: #ede9e7;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

:root {
    --grey: #8c8b8b;
    --black: #000000;
    --light-dark: #343333;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-inline: 10%;
    height: 15rem;
    align-items: center;
}

.fa-solid.fa-bars{
    display: none;
}

.navbar .logo img {
    height: 4rem;
    color: var(--black);
}

.navbar .line {
    width: 30rem;
    margin-left: 25rem;
    background-color: var(--black);
    height: 0.2rem;
}

.list-item-active {
    color: var(--black);
}

.navbar .list {
    list-style-type: none;
    display: flex;
    gap: 8rem;
    font-size: 1.4rem;
    color: var(--grey);
}


/* ------------------------------ */
/* ---------- HERO-LEFT ------------ */
/* ------------------------------ */
.hero {
    display: flex;
}

.left-section {
    width: 33vw;
}

.left-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 35vw;
    height: 100vh;
    z-index: -1;
}

.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ------------------------------ */
/* ---------- HERO-RIGHT ------------ */
/* ------------------------------ */

.right-section {
    display: flex;
    position: relative;
    width: 60vw;
}

.heading {
    position: absolute;
    left: 10rem;
    top: -4rem;
}

.heading h2 {
    font-family: "Merriweather";
    font-size: 10rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black);
}

.heading>h2::after {
    content: "";
    width: 5rem;
    height: 1rem;
    display: inline-block;
    border: 1px solid var(--black);
    margin-bottom: 2.3rem;
}

.heading div>h2 {
    color: var(--light-dark);
}

.heading div {
    margin-left: 11rem;
    color: var(--light-dark);
    display: flex;
    align-items: center;

}

.heading div p {
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--grey);
    margin-left: 5rem;
    padding-top: 3rem;
    font-weight: 100;
    font-family: "Merriweather";
}


.btn {
    margin-left: 46rem;
}

.btn button {
    background-color: var(--light-dark);
    color: white;
    padding: 1.8rem 8.5rem;
    font-size: 1.7rem;
}


/* ------------------------------ */
/* ---------- media ------------ */
/* ------------------------------ */
.media-icons {
    position: absolute;
    right: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    top: -1.5rem;
}

.media-icons img {
    height: 2rem;
}

/* ------------------------------ */
/* ---------- SERVICES ------------ */
/* ------------------------------ */
.services {
    position: absolute;
    top: 30rem;
    left: 10rem;
}

.services ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.services ul li {
    font-size: 1.7rem;
    list-style-type: circle;
    color: var(--grey);
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
}

.services ul li p {
    padding-left: 2rem;
}

ul li span {
    background-color: var(--grey);
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 4.8rem;
}

.active-item .dot {
    background-color: var(--light-dark);
}

.active-item p {
    color: var(--light-dark);
}

.services .line {
    height: 30rem;
    width: 1px;
    background-color: var(--grey);
    position: absolute;
    left: 0.7rem;
    top: 1.8rem;
}

/* ------------------------------ */
/* ---------- QUOTE ------------ */
/* ------------------------------ */
.quote-section {
    position: absolute;
    left: 28rem;
    top: 0;
}

i {
    color: var(--light-dark);
    font-size: 4rem;
}

.quote-section p {
    font-size: 1.5rem;
    padding-block: 1.5rem;
    font-weight: 500;
}

.dance-img {
    height: 40rem;
    width: 40rem;
}

.dance-img img {
    height: 80%;
}

.arrow {
    position: absolute;
    top: 13rem;
    right: -15rem;
}

.arrow img {
    height: 10rem;
}

@media (width <=425px) {

    .navbar .list,
    .hero .left-section,
    .navbar .line
    {
        display: none;
    }
    .navbar .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin-inline: auto;
    }

    .navbar .logo img{
        width: 10rem;
        height: 4rem;
    }

    .fa-solid.fa-bars {
        display: block;
    }

    .navbar{
        height: 8rem;
        width: 100vw;
        margin: 0;
        padding: 0;
        justify-content: start;
    }


    .right-section{
        flex-direction: column;
        width: 95vw;
        margin-inline: auto;
        gap: 5rem;
        margin-top: 0rem;
    }

    .top {
        display: flex;
        width: 100%;
        margin-inline: auto;
    }

    .heading{
        position: static;
        width: 100%;
        gap: 1rem;
    }
    .heading > div{
        margin-left: 0;
    }

    .heading h2{
        font-size: 5rem;
    }
    .heading>h2::after{
        /* margin-block: auto; */
        margin-bottom: 1rem;
        width: 2.5rem;
        height: 0.6rem;
    }

    .heading div{
        margin-left: 4rem;
    }

    .heading div p{
        margin-left:1rem;
        padding: 0;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 600;
        padding-top: 1rem;
    }

    .media-icons {
        position: static;
        width: 100%;
        padding-block: 1rem;
        gap: 3rem;
    }

    .btn button{
        padding: 1rem 2rem;
        margin-top: 2rem;
        margin-left: 4rem;
    }




    .services{
        position: static;
        width: 95vw;
        margin-inline: auto;
        display: flex;
        gap: 1rem;
    }

    .services ul{
        margin-bottom: auto;
        width: 30%;
    }

    .services ul li{
        /* padding: 0; */
        padding-bottom: 1rem;
    }

    .services .line{
        /* padding-left: 0; */
        /* height: ; */
        top: 1.5rem;
        height: 15rem;
        left: 0.5rem;
    }

    .services ul li p{
        padding-left: 0.5rem;
        font-size: 1.2rem;
    }

    .quote-section{
        position: static;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .quote-section p{
        font-size: 1.3rem;
        padding-block: 1rem;
        font-weight: 500;
        width: 100%;
    }

    .dance-img{
        height: 30rem;
        width: 100%;

    }
    .dance-img img{
        width: 100%;
        object-position: right;
        object-fit: cover;
    }

    .quote-section .arrow {
        position: absolute;
        /* display: none; */
        top: 40rem;
        left: 3rem;
        width: fit-content;
    }


}